/* Tausta alkaa  */

body { 
/* background: url('../pics/bg-2880-shutterstock_86374939.jpg') no-repeat center center fixed;*/ 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #F7E967;
}

.btn-primary {
  color: #fff;
  background-color: #A9CF54;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00797c;
  border-color: #588F27;
}

.nav-tabs {
  border-bottom: none;
}

h1 {
font-size: 20px;
color: #588F27;
font-weight: lighter;
text-transform:uppercase;
}

h2 {
font-size: 24px;
color: #484848;
font-weight: lighter;
}

a:hover, a:focus {
color: #00797c;
text-decoration: underline;
}

a {
color: #04BFBF;
text-decoration: none;
}

.nav > li > a:hover, .nav > li > a:focus {
text-decoration: none;
background-color: none;
}

.nav-tabs > li > a:hover {
border-color: none;
}

.row::before {
margin-top: 20px;
margin-bottom: 30px;
}

.large {
  font-size: 110%;
}

.lighter {
font-weight: lighter;
}

li a {
opacity: .5;
}

li a:hover {
opacity: .7;
}

/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #fff;
      }
      
      #footer a, #footer p {
      font-size: 12px;
      color: #96b987;
      }
      
      #footer a {
      text-decoration: underline;
      }
      
      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container .credit {
        margin: 20px 0;
      }